/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.imglink {
color: white;
text-decoration: none;

}
a:hover {
  color: white;
}



p {
font-family: 'Source Sans Pro', sans-serif;
}

h1 { 
font-family: 'Oswald';
}
h2 {
font-family: 'Oswald';
font-size: 35px;
}
h5 {
  font-family: 'Oswald';
}



nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Oswald';
    font-size: 21px;

}


nav ul li a:hover {
    font-family: 'Oswald';
color: #ddadad;
}

body {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: .5; }
    to   { opacity: 1; }
}




@media screen and (max-width: 1066px){


p {
  padding-left: 10px;
}
  h2 {
    font-size: 26px;
    padding-left: 10px;
  }
  nav {
   align-content: right;
  }
  #headerimg{
    visibility: hidden;
    display: none;
  }


#content1 {
  padding-top: 100px;
  padding-left: 5px;
  padding-bottom: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
background-color: #3f3f3f;
color: white;
margin-top: 30px;
font-family: 'Source Sans Pro', sans-serif;
}

footer a {
    color: white;
    text-decoration: none;

}
#footerLeft {
    padding-left: 10%;
}

#footerRight {
    padding-right: 10%;

}
#wp1, #wp2, #wp3, #wp4 {
  height: 100%;
padding: 20px 0px;
overflow: auto;
  margin: 10px;
}



#pdfs {
  padding-bottom: 40px;
}

#profiles {
  padding: 30px 0px;
}




}




@media screen and (min-width: 1067px) {


p {
  padding-left: 10px;
}



#headerimg {

    width: 100vw;
}

#amheader {

    z-index: -1;
  

    width: 100%;

}
#headertext{

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#headerimg h1 {
        font-size: 85px;
         
}
#headerimg h1:hover {
     animation: .8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-10deg); }
  5% { transform: skewX(10deg); }
  10% { transform: skewX(-8deg); }
  15% { transform: skewX(8deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}



#headerimg ul {
     position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerimg ul {
    list-style-type: none;
    padding: 0;
}
#headerimg ul li {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 18px;
    display: inline;
}




#container {
    display: flex;
}

h2 {
    padding: 20px 0px 20px 50px;
}

#content1 p {
padding: 0px 0px 10px 40px;

}
#content1 {
    padding-bottom: 40px;
}


#header {


    padding: 20px 10px 0px 70px;
}



nav {
  margin: 0 auto;
}



nav ul li {
  padding: 0px 30px;
}





footer {
    display: flex;
    justify-content: space-between;
background-color: #3f3f3f;
color: white;
font-family: 'Source Sans Pro', sans-serif;
}

footer a {
    color: white;
    text-decoration: none;
}

#footerLeft {
    padding-left: 15%;
}

#footerRight {
    padding-right: 15%;

}


#wp1, #wp2, #wp3, #wp4 {

padding: 20px 0px;
overflow: auto;
  margin: 10px;
}

#pdfs {
  padding-bottom: 100px;
}











}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
